<div class="about-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>About</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>This quick utility is by <a href="mailto:N3PAY@ARRL.net">N3PAY&#64;ARRL.net</a> please email him with comments or questions.</p>
      <p><a [href]="repoUrl" target="_blank" rel="noopener">View source on GitHub</a></p>
      <p class="last-update">Last update: {{ buildTimestamp | date:'M/d/yyyy \'at\' HH:mm':'UTC' }} Zulu.</p>
    </mat-card-content>
  </mat-card>
</div>
